body{
    background-color: #0f0e17;
    margin: 0%;

}
.titulo{
    color: #fffffe;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}
header{
    margin: 0%;
    padding: 0%;
    position: fixed;
    width: 100%;
}
main{
    padding-top: 10vh;
}
.nav-bar{
    display: flex;
    flex-direction: row;
    background-color:#ff8906;
    height: 70px;
        
}

#nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    margin-left: 20px;
    padding-top: 25px;
    padding-bottom: 15px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    color: black;
    

}
#logo{
    width: auto;
    border-radius: 5px;
    margin-left: 3px;
    margin-right: 530px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.row-main1{
    display: flex;
    flex-direction:row;
    justify-content: baseline;
}

#h3-main{
    color: #fffffe;
    margin-left: 20px;
    font-family: 'Roboto', sans-serif;
    
}

#parrafo{
    width: 50%;
    margin-left: 9px;
    margin-right: 10px;

}
#parrafo #p1{
    color: #b6b8cb;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}
#imagen{
    background-color: #fffffe;
    width: 50%;
    margin-left: 3px;
    margin-right: 15px;
}
#logo_curso{
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 130px;
    
}

.column{
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    font-family: 'Roboto', sans-serif;

}
.column a {
    text-decoration: none;
    color: #ff8906 ;
}
#col1{
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    text-align: justify;
    color:  #b6b8cb ;
    border-color: #ff8906;
    border-style: solid;
    padding: 6px 6px 6px 6px;
}
#col2{
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    text-align: justify;
    color:  #b6b8cb;
    border-color: #ff8906;
    border-style: solid;
    padding: 6px 6px 6px 6px;
}
#col3{
    display: flex;
    align-items: center;
    width: 30%;
    margin: auto;
    text-align: justify;
    color:  #b6b8cb;
    border-color: #ff8906;
    border-style: solid;
    padding: 6px 6px 6px 6px;
}


/*----------------------------CSS NOSOTROS--------------------------------*/
#titulo{
    font-family: 'Roboto', sans-serif;
    font-size: 1.8rem;
    margin-left: 1.5%;
    color: #fffffe;
}
#contenedor{
    display: flex;
    

}
.cardbox{
    display: flex;
    flex-wrap: wrap;
    font-size: 1.2rem;
    margin: 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
}
.cardbox:hover .card{
    transform: rotateY(180deg);
}
.card {
    background: #0f0e17;
    cursor: default;
    height: 250px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
    border-color: #ff8906;
    border-style: solid;
  }
.card-frente, .card-frontal {
    backface-visibility: hidden;
    box-sizing: border-box;
    color: rgb(240, 238, 238);
    font-size: 1.2rem;
    height: 100%;
    padding: 0.8em;
    text-align: center;
    position: absolute;
    width: 100%;
 }
.card-frontal {
    transform: rotateY( 180deg);
}
.card-frente, .card-frontal{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    align-items: center;
}

#name{
    margin: 0%;
    padding: 0%;
    text-align: center;
    font-size: 1.2rem;
    

}
.cardBox:nth-child(2) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
}
@keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
  
  @-webkit-keyframes giro {
    from {
      transform: rotateY( 180deg);
    }
    to {
      transform: rotateY( 0deg);
    }
  }
/*  @media screen and (max-width: 767px) {
  
    .cardBox {
      margin-left: 2.8%;
      margin-top: 3%;
      width: 46%;
    }
  
    .card {
      height: 285px;
    }
  
    .cardBox:last-child {
      margin-bottom: 3%;
    }
  
  }
  
  
  @media screen and (max-width: 480px) {
  
    .cardBox {
      width: 94.5%;
      height: 290px;
    }
  
  }
*/
#foto{
    margin-top: 60px;
    width: 100px;
    border-radius: 50px;
}



/*--------------------------------proyectos-------------------------------------- */
.todosproyectos h1, h2, h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
}


/*-----------------------------Footer--------------------------------------*/
.pie{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: #b6b8cb;
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    

    
}
.pie a{
    text-decoration: none;
    color: #ff8906;
    margin-left: 8px;
    font-size: .9rem;
}
h5{
    font-family: 'Roboto', sans-serif;
    font-size: .9rem;
    color: #b6b8cb;
}
.container{
    border-color: #ff8906;
    border-style: solid;
    margin: 6px 6px 6px 6px;


}
h6{
    font-family: 'Roboto', sans-serif;
    font-size: .6rem;
    color: #b6b8cb;
    text-align: center;
}
#logo3{
    width: 150px;
    height: 150px;
    border-radius: 20px;
    margin-top: 50px;
}


/* CSS PROYECTOS*/
h3 {
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
}
h2 {
    color: #fffffe;
    font-family: 'Roboto', sans-serif;
    margin-left: 30px;
}
.row{
    display: flex;
    flex-direction:row;
    justify-content: stretch;
    margin: 40px 40px;
        
}
.row a{
    text-decoration: none;
    color: #2e2f3e;
    background-color: #ff8906;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#s1 button{
    background-color: #ff8906;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 20px;
    margin-left: 130px;
}
#s2 button {
    background-color: #ff8906;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 80px;
    margin-left: 190px;
}
#s3 button{
    background-color: #ff8906;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
    margin-top: 20px;
    margin-left: 130px;
}

.row_1{
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    margin-bottom: 100px;
        
}
.row_1 a{
    text-decoration: none;
    color: #2e2f3e;
    background-color: #ff8906;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
#imc_img{
    width: 250px;
    padding: 30px 30px;
}
#medidas_img{
    width: 400px;
    padding: 10px 10px;
    margin-top: 30px;
}
#geo_img{
    width: 250px;
    padding: 30px 30px;
    
}
h3{
    text-align: center;

}
#s1 {
    border-color: #ff8906;
    border-style: solid;
    margin: 3px 6px;
}
#s2 {
    border-color: #ff8906;
    border-style: solid;
    margin: 3px 6px;
}
#s3 {
    border-color: #ff8906;
    border-style: solid;
    margin: 3px 6px;
}
#img_calc{
    width: 300px;
}
#img_est{
    width: 300px;
}
#img_imp{
    width: 300px;
}

.row_1 #s1{
    border-color: #ff8906;
    border-style: solid;
    padding: 10px 10px;
}
.row_1 #s2{
    border-color: #ff8906;
    border-style: solid;
    padding: 10px 10px;
}
.row_1 #s3{
    border-color: #ff8906;
    border-style: solid;
    padding: 10px 10px;
}
